body{
    height: 600px;
    width: 300x;
    
}
.nav-head{
    display: flex;
    /* align-items: flex-start; */
    background-color: #326a01;
    
}
.nav-head img{
    margin-bottom: 20px;
}
.nav-text-hd{
    display: flex;
    align-items: center;
    /* position: absolute;
    top: 400px;
    left: 70px; */
}
.nav-text{
    display: flex;
    align-items: center;
    position: absolute;
    top: 400px;
    left: 70px;
}
.tree-img{
    filter: drop-shadow(1px 1px 30px brown);
}
.nav-bottom{
    display: flex;
    background-color: #d4eb86;
    justify-content: space-between;
}
/* .nav-right {
    display: flex;
    gap: 50px;

}
*/
.nav-right a{
    /* font-size: larger; */
    color:#ffff;
    font-weight: 100px; 
    font-size: 20px; 
} 
.nav-right a:hover{
    color: black;
    border-bottom: 3px solid orangered;
}
.pro {
    display: flex;
    margin-right: 10px;
    gap: 20px;
    align-items: center;
    
}
.pro i{
    color: #326a01;
    font-size: 20px;
}

/* #page-content */

.content{
    /* background-image: url(../img/WELCOME\ to\ GREEN\ HOME\ \(1\).png); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid; */
    height: 550px;
}

.content-wel{
    /* background-image: url(../img/Adobe\ Express\ -\ file.png); */
    position: absolute;
    height: 90%;
    width: 40%;
    size: 10cm;
    
}
.seed-text{
    position:absolute;
    top: 240px;
    text-align: center;
    left: 100px;
    font-size: 25px;
    /* background-color: #e09675; */
    background-color: rgba(224, 150, 117, 0.5);
    /* margin: 100px; */
    height:600px;
    border-radius: 35px;
    width: 900px;
    padding: 20px;
    
}
.seed-text-b{
    position:absolute;
    top: 1540px;
    text-align: center;
    left: 200px;
    font-size: 25px;
    /* background-color: #e09675; */
    /* background-color: rgba(224, 150, 117, 0.5); */
    /* margin: 100px; */
    height:350px;
    border-radius: 35px;
    width: 900px;
    padding: 20px;
    
}
.accordion-item {
    background-color: rgba(224, 150, 117, 0.5) !important;
}


.flawer{
    position: absolute;
    top: 1100px;
    height: 300px;
    z-index: 2;    
}
.text-seed{
    position: absolute;
    top: 850px;
    
    left: 100px;
    font-size: 25px;
    /* background-color: #e09675; */
    background-color: rgba(224, 150, 117, 0.5);
    /* margin: 100px; */
    height:450px;
    border-radius: 35px;
    width: 1200px;
    padding: 20px 20px 20px 150px;
    z-index: 1;
}
.seed-img {
    position: absolute;
    top: 1600px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
.text-img-r-seed{
    position:absolute;
    top: 1840px;
    text-align: center;
    right: 100px;
    /* font-size: 20px; */
    /* background-color: #e09675; */
    background-color: rgba(556, 247, 49, 0.5);
    /* margin: 100px; */
    /* height:600px; */
    border-radius: 35px;
    width: 500px;
    padding: 20px;
    color: black;
}
.text-img-l-seed{
    position:absolute;
    top: 1840px;
    text-align: center;
    left: 100px;
    color: black;
    /* font-size: 20px; */
    /* background-color: #e09675; */
    background-color: rgba(556, 247, 49, 0.5);
    /* margin: 100px; */
    /* height:600px; */
    border-radius: 35px;
    width: 500px;
    padding: 20px;
}


/* login page */
 
/* * {
    margin: 0;
    padding: 0;
} */

.body {
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    background: #f3f9f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } 
  .container1 {
    display: flex;
    background: #e0f7f4;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    width: 800px;
    max-width: 95%;
  }
  
  .image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
  
  .image-section img {
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 30px;
  }
  
  .form-section1 {
    flex: 1;
    padding: 30px;
  }
  
  .form-section1 h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #003366;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    background: #f6d9e0;
  }
  
  .but{
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to right, #2ff207, #9de07a);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .but:hover {
    background: linear-gradient(to right, #28c906, #7bcf5a);
  }
  #closeBtn{
    background-color: #326a01;
  }