body{
    height: 600px;
    width: 300x;
    
}
.nav-head{
    display: flex;
    /* align-items: flex-start; */
    background-color: #326a01;
    
}
.nav-head img{
    margin-bottom: 20px;
}
.nav-text-hd{
    display: flex;
    align-items: center;
    /* position: absolute;
    top: 400px;
    left: 70px; */
}
.nav-text{
    display: flex;
    align-items: center;
    position: absolute;
    top: 400px;
    left: 70px;
}
.tree-img{
    filter: drop-shadow(1px 1px 30px brown);
}
.nav-bottom{
    display: flex;
    background-color: #d4eb86;
    justify-content: space-between;
}
/* .nav-right {
    display: flex;
    gap: 50px;

}
*/
.nav-right a{
    /* font-size: larger; */
    color:#ffff;
    font-weight: 100px; 
    font-size: 20px; 
} 
.nav-right a:hover{
    color: black;
    border-bottom: 3px solid orangered;
}
.pro {
    display: flex;
    margin-right: 10px;
    gap: 20px;
    align-items: center;
    
}
.pro i{
    color: #326a01;
    font-size: 20px;
}

/* #page-content */

.content{
    /* background-image: url(../img/WELCOME\ to\ GREEN\ HOME\ \(1\).png); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid; */
    height: 550px;
}

.content-wel{
    /* background-image: url(../img/Adobe\ Express\ -\ file.png); */
    position: absolute;
    height: 90%;
    width: 40%;
    size: 10cm;
    
}
.seed-text{
    position:absolute;
    top: 240px;
    text-align: center;
    left: 100px;
    font-size: 25px;
    /* background-color: #e09675; */
    background-color: rgba(224, 150, 117, 0.5);
    /* margin: 100px; */
    height:600px;
    border-radius: 35px;
    width: 900px;
    padding: 20px;
    
}
.flawer{
    position: absolute;
    top: 1100px;
    height: 300px;
    z-index: 2;    
}
.text-seed{
    position: absolute;
    top: 850px;
    
    left: 100px;
    font-size: 25px;
    /* background-color: #e09675; */
    background-color: rgba(224, 150, 117, 0.5);
    /* margin: 100px; */
    height:450px;
    border-radius: 35px;
    width: 1200px;
    padding: 20px 20px 20px 150px;
    z-index: 1;
}
.seed-img {
    position: absolute;
    top: 1700px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
.text-img-seed{
    position:absolute;
    top: 1840px;
    text-align: center;
    left: 100px;
    /* font-size: 20px; */
    /* background-color: #e09675; */
    background-color: rgba(56, 247, 49, 0.5);
    /* margin: 100px; */
    /* height:600px; */
    border-radius: 35px;
    width: 500px;
    padding: 20px;
}